[submodule "ojf-practice-01"]
	path = ojf-practice-01
	url = git@github.com:ensomugnog/ojf-practice-01
	branch = main
[submodule "ojf-duke-labs"]
	path = ojf-duke-labs
	url = git@github.com:ensomugnog/ojf-duke-labs
	branch = main
[submodule "ojf-practice-02"]
	path = ojf-practice-02
	url = git@github.com:ensomugnog/ojf-practice-02
	branch = main
